.cart-screen {
    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .cart {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .cart-list {
    width: 70%;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-name {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .cart-item-price {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .cart-item-quantity select {
    padding: 5px;
    font-size: 1rem;
  }
  
  .remove-button {
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: darkred;
  }
  
  .cart-action {
    width: 25%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
  }
  
  .cart-action h3 {
    font-size: 1.5rem;
  }
  
  .cart-action p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .checkout-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: #218838;
  }
  